<div class="custom-container">
  <div class="custom-column-200 column-one">
    <input type="number" [(ngModel)]="inputNo" (change)="onCheckTypeNumber()" />
  </div>
  <div class="custom-column column-two">
    <select (change)="onCheckTypeNumber()" [(ngModel)]="typeNumber">
      <option value="isPrime" selected>isPrime</option>
      <option value="isFibonacci">isFibonacci</option>
    </select>
  </div>
  <div class="custom-column-300 column-three" *ngIf="typeNumber==='isPrime'">{{isPrimeNumber() || false}}</div>
  <div class="custom-column-300 column-three" *ngIf="typeNumber==='isFibonacci'">{{isFibonacciNumber() || false}}</div>
  <div class="custom-column-300 column-three" *ngIf="typeNumber!=='isPrime' && typeNumber!=='isFibonacci'">false</div>

</div>

